*{
    padding:0;
    margin:0;

}
.body{
    background: url(/images/bg-desktop.svg);
    position:relative;
    height: 100vh;
    width:100vw;
    opacity:0.9;
    background-color:hsl(257, 40%, 49%);
    color:white;
}
.navbar{
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.5em;
    font-weight: 400;
    padding:0px;
}
.main-body{
    display:grid;
    grid-template-columns: 50% 50%;
    padding:20px;
}

.write-ups{
    padding:40px 100px;
}
/* Utilities */
.container{
    padding:30px 10px;

}

.btn{
    border:2px solid white;
    box-shadow: 40px 10px 1 black;
    font-size: large;
    border-radius:30px;
    height:40px;
    width:120px;
    color:hsl(257, 40%, 49%);
    background-color:white;
    text-align: center;

}
.btn:hover{
    background-color: hsl(300, 69%, 71%);
    border:hsl(300, 69%, 71%);
    color:white;
}
