*{
    padding:0;
    margin:0;
}
.body{
    background: url(/images/bg-desktop.svg);
    position:relative;
    height: 100vh;
    width:100vw;
    opacity:0.9;
    background-color:hsl(257, 40%, 49%);
    color:white;
    animation: small; 
}
.navbar{
    i{
        padding: 0px 10px 0px 0px;
    }
    display: flex;
    justify-content: start;
    align-items: center;
    line-height: 1.5em;
    font-weight: 400;
    padding:20px 30px;
    font-size: 25px;

}
.main-body{
    display:grid;
    grid-template-columns: 50% 50%;
    padding:0px 20px;
}

.write-ups{
    padding:40px 130px ;
    h2{
        margin-bottom: 10px;
        padding-bottom: 10px;
        padding-right: 50px;
    }
    p{
        font-size: 1.2rem;
        font-weight: 50;
        padding-bottom: 30px;
        margin-bottom: 0.5em;
        padding:0px -100px;
        
    }

}
.image-holder{
    height:20vh;
    width:20vw;
    img{
        object-fit: contain;
    }
}
.icons{
    i{
        padding:10px 5px;
    }
 position:absolute;
 display: flex;
 top:80%;
 left:78%;
 justify-content: end;
 align-items: flex-end;
 
}
/* Utilities */
.container{
    padding:2% 4%;

}

.btn{
    border:2px solid white;
    box-shadow: 7px 7px 10px black;
    font-size: large;
    border-radius:30px;
    height:40px;
    width:120px;
    color:hsl(257, 40%, 49%);
    background-color:white;
    text-align: center;

}
.btn:hover{
    background-color: hsl(300, 69%, 71%);
    border:hsl(300, 69%, 71%);
    color:white;
    cursor: pointer;
}
